{% extends 'asian_studies_books/base.html' %}

{% block content %}

<h2>Asian Studies Books Project</h2>

<p>This site presents descriptive metadata (and in the future, library holdings statistics) for 365 titles published by centers of Asian studies on the University of Michigan campus over the last several decades. As part of a National Endowment for the Humanitities-funded project, one hundred of these titles will be digitized, enriched, and made into open access publications.</p>

<p>The Books tab provides a list of titles. The Filter Search tab allows for more complex searching and filtering. The About page provides more details about the project. Code for the project can be found at <a href='https://github.com/ssciolla/si664-asian-studies-books'>https://github.com/ssciolla/si664-asian-studies-books</a>.
{% endblock content %}
