{% extends 'asian_studies_books/base.html' %}

{% block content %}

<h2>Asian Studies Books Project</h2>
<div class='row'>
  <div class='column left'>
    <p>This site presents descriptive metadata and library holdings statistics for 365 titles published by centers of Asian studies on the University of Michigan campus over the last several decades. As part of a National Endowment for the Humanitities-funded project, Michigan Publishing Services will create enriched, open access versions of one hundred of these titles.</p>

    <p>The <b>Books</b> tab provides a list of titles. The <b>Filter Search</b> tab allows for more complex searching and filtering. The <b>About</b> tab provides more details about the project.

    <p>Code for the project can be found at <a href='https://github.com/ssciolla/si664-asian-studies-books'>https://github.com/ssciolla/si664-asian-studies-books</a>.</p>
  </div>
</div>
{% endblock content %}
